In [1]:
import os
import pandas as pd
import numpy
import urllib.request, json
import time
from datetime import date
import requests
import pymongo
import json

In [9]:
with open("./Data/activities.json") as f:
    data = json.load(f)

In [10]:
data

[{'_id': {'$oid': '6149384ad7bd5749f1572d67'},
  'Type': 'Arts and Culture',
  'Value': 153},
 {'_id': {'$oid': '6149384ad7bd5749f1572d68'},
  'Type': 'Cultural Demonstrations',
  'Value': 66},
 {'_id': {'$oid': '6149384ad7bd5749f1572d69'},
  'Type': 'Astronomy',
  'Value': 103},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6a'},
  'Type': 'Stargazing',
  'Value': 88},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6b'}, 'Type': 'Biking', 'Value': 166},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6c'}, 'Type': 'Boating', 'Value': 86},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6d'},
  'Type': 'Camping',
  'Value': 154},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6e'},
  'Type': 'Group Camping',
  'Value': 68},
 {'_id': {'$oid': '6149384ad7bd5749f1572d6f'},
  'Type': 'Climbing',
  'Value': 39},
 {'_id': {'$oid': '6149384ad7bd5749f1572d70'},
  'Type': 'Rock Climbing',
  'Value': 21},
 {'_id': {'$oid': '6149384ad7bd5749f1572d71'},
  'Type': 'Compass and GPS',
  'Value': 36},
 {'_id': {'$oid': '6149384ad7bd5749f1572d72'},
  'Type': 'Geocaching',
  'Value': 24},
 {'_id': {'$oid': '6149384ad7bd5749f1572d73'},
  'Type': 'Fishing',
  'Value': 140},
 {'_id': {'$oid': '6149384ad7bd5749f1572d74'},
  'Type': 'Freshwater Fishing',
  'Value': 59},
 {'_id': {'$oid': '6149384ad7bd5749f1572d75'},
  'Type': 'Fly Fishing',
  'Value': 27},
 {'_id': {'$oid': '6149384ad7bd5749f1572d76'},
  'Type': 'Saltwater Fishing',
  'Value': 25},
 {'_id': {'$oid': '6149384ad7bd5749f1572d77'}, 'Type': 'Food', 'Value': 186},
 {'_id': {'$oid': '6149384ad7bd5749f1572d78'},
  'Type': 'Picnicking',
  'Value': 151},
 {'_id': {'$oid': '6149384ad7bd5749f1572d79'},
  'Type': 'Guided Tours',
  'Value': 363},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7a'},
  'Type': 'Bus/Shuttle Guided Tour',
  'Value': 19},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7b'},
  'Type': 'Boat Tour',
  'Value': 60},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7c'},
  'Type': 'Hands-On',
  'Value': 78},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7d'},
  'Type': 'Citizen Science',
  'Value': 40},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7e'}, 'Type': 'Hiking', 'Value': 268},
 {'_id': {'$oid': '6149384ad7bd5749f1572d7f'},
  'Type': 'Front-Country Hiking',
  'Value': 133},
 {'_id': {'$oid': '6149384ad7bd5749f1572d80'},
  'Type': 'Horse Trekking',
  'Value': 86},
 {'_id': {'$oid': '6149384ad7bd5749f1572d81'},
  'Type': 'Horseback Riding',
  'Value': 75},
 {'_id': {'$oid': '6149384ad7bd5749f1572d82'},
  'Type': 'Ice Skating',
  'Value': 4},
 {'_id': {'$oid': '6149384ad7bd5749f1572d83'},
  'Type': 'Paddling',
  'Value': 112},
 {'_id': {'$oid': '6149384ad7bd5749f1572d84'},
  'Type': 'Canoeing',
  'Value': 66},
 {'_id': {'$oid': '6149384ad7bd5749f1572d85'},
  'Type': 'Kayaking',
  'Value': 85},
 {'_id': {'$oid': '6149384ad7bd5749f1572d86'},
  'Type': 'Stand Up Paddleboarding',
  'Value': 34},
 {'_id': {'$oid': '6149384ad7bd5749f1572d87'},
  'Type': 'Junior Ranger Program',
  'Value': 351},
 {'_id': {'$oid': '6149384ad7bd5749f1572d88'}, 'Type': 'Skiing', 'Value': 52},
 {'_id': {'$oid': '6149384ad7bd5749f1572d89'},
  'Type': 'Cross-Country Skiing',
  'Value': 50},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8a'},
  'Type': 'Snow Play',
  'Value': 23},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8b'},
  'Type': 'Snowmobiling',
  'Value': 15},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8c'},
  'Type': 'Snowshoeing',
  'Value': 50},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8d'},
  'Type': 'Swimming',
  'Value': 51},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8e'},
  'Type': 'Freshwater Swimming',
  'Value': 19},
 {'_id': {'$oid': '6149384ad7bd5749f1572d8f'},
  'Type': 'Saltwater Swimming',
  'Value': 23},
 {'_id': {'$oid': '6149384ad7bd5749f1572d90'},
  'Type': 'Wildlife Watching',
  'Value': 224},
 {'_id': {'$oid': '6149384ad7bd5749f1572d91'},
  'Type': 'Birdwatching',
  'Value': 197},
 {'_id': {'$oid': '6149384ad7bd5749f1572d92'},
  'Type': 'Park Film',
  'Value': 219},
 {'_id': {'$oid': '6149384ad7bd5749f1572d93'},
  'Type': 'Shopping',
  'Value': 284},
 {'_id': {'$oid': '6149384ad7bd5749f1572d94'},
  'Type': 'Bookstore and Park Store',
  'Value': 270},
 {'_id': {'$oid': '6149384ad7bd5749f1572d95'},
  'Type': 'Living History',
  'Value': 113},
 {'_id': {'$oid': '6149384ad7bd5749f1572d96'},
  'Type': 'First Person Interpretation',
  'Value': 39},
 {'_id': {'$oid': '6149384ad7bd5749f1572d97'},
  'Type': 'Self-Guided Tours - Walking',
  'Value': 220},
 {'_id': {'$oid': '6149384ad7bd5749f1572d98'},
  'Type': 'Museum Exhibits',
  'Value': 259},
 {'_id': {'$oid': '6149384ad7bd5749f1572d99'},
  'Type': 'Auto and ATV',
  'Value': 94},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9a'},
  'Type': 'Scenic Driving',
  'Value': 84},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9b'},
  'Type': 'Mountain Biking',
  'Value': 32},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9c'},
  'Type': 'Road Biking',
  'Value': 95},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9d'},
  'Type': 'Motorized Boating',
  'Value': 24},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9e'}, 'Type': 'Sailing', 'Value': 16},
 {'_id': {'$oid': '6149384ad7bd5749f1572d9f'},
  'Type': 'Canoe or Kayak Camping',
  'Value': 73},
 {'_id': {'$oid': '6149384ad7bd5749f1572da0'},
  'Type': 'Car or Front Country Camping',
  'Value': 78},
 {'_id': {'$oid': '6149384ad7bd5749f1572da1'},
  'Type': 'RV Camping',
  'Value': 54},
 {'_id': {'$oid': '6149384ad7bd5749f1572da2'},
  'Type': 'Orienteering',
  'Value': 10},
 {'_id': {'$oid': '6149384ad7bd5749f1572da3'},
  'Type': 'Self-Guided Tours - Auto',
  'Value': 82},
 {'_id': {'$oid': '6149384ad7bd5749f1572da4'},
  'Type': 'Arts and Crafts',
  'Value': 28},
 {'_id': {'$oid': '6149384ad7bd5749f1572da5'},
  'Type': 'SCUBA Diving',
  'Value': 17},
 {'_id': {'$oid': '6149384ad7bd5749f1572da6'},
  'Type': 'Snorkeling',
  'Value': 14},
 {'_id': {'$oid': '6149384ad7bd5749f1572da7'}, 'Type': 'Surfing', 'Value': 10},
 {'_id': {'$oid': '6149384ad7bd5749f1572da8'},
  'Type': 'Backcountry Camping',
  'Value': 93},
 {'_id': {'$oid': '6149384ad7bd5749f1572da9'},
  'Type': 'Hunting and Gathering',
  'Value': 59},
 {'_id': {'$oid': '6149384ad7bd5749f1572daa'}, 'Type': 'Hunting', 'Value': 48},
 {'_id': {'$oid': '6149384ad7bd5749f1572dab'},
  'Type': 'Whitewater Rafting',
  'Value': 14},
 {'_id': {'$oid': '6149384ad7bd5749f1572dac'},
  'Type': 'Craft Demonstrations',
  'Value': 40},
 {'_id': {'$oid': '6149384ad7bd5749f1572dad'},
  'Type': 'Historic Weapons Demonstration',
  'Value': 55},
 {'_id': {'$oid': '6149384ad7bd5749f1572dae'},
  'Type': 'Live Music',
  'Value': 39},
 {'_id': {'$oid': '6149384ad7bd5749f1572daf'}, 'Type': 'Theater', 'Value': 23},
 {'_id': {'$oid': '6149384ad7bd5749f1572db0'},
  'Type': 'Jet Skiing',
  'Value': 7},
 {'_id': {'$oid': '6149384ad7bd5749f1572db1'},
  'Type': 'Water Skiing',
  'Value': 7},
 {'_id': {'$oid': '6149384ad7bd5749f1572db2'},
  'Type': 'Playground',
  'Value': 13},
 {'_id': {'$oid': '6149384ad7bd5749f1572db3'},
  'Type': 'Team Sports',
  'Value': 2},
 {'_id': {'$oid': '6149384ad7bd5749f1572db4'},
  'Type': 'Reenactments',
  'Value': 31},
 {'_id': {'$oid': '6149384ad7bd5749f1572db5'},
  'Type': 'Gift Shop and Souvenirs',
  'Value': 103},
 {'_id': {'$oid': '6149384ad7bd5749f1572db6'},
  'Type': 'Mountain Climbing',
  'Value': 13},
 {'_id': {'$oid': '6149384ad7bd5749f1572db7'}, 'Type': 'Flying', 'Value': 18},
 {'_id': {'$oid': '6149384ad7bd5749f1572db8'},
  'Type': 'Backcountry Hiking',
  'Value': 77},
 {'_id': {'$oid': '6149384ad7bd5749f1572db9'},
  'Type': 'Volunteer Vacation',
  'Value': 22},
 {'_id': {'$oid': '6149384ad7bd5749f1572dba'},
  'Type': 'Canyoneering',
  'Value': 5},
 {'_id': {'$oid': '6149384ad7bd5749f1572dbb'},
  'Type': 'Auto Off-Roading',
  'Value': 8},
 {'_id': {'$oid': '6149384ad7bd5749f1572dbc'},
  'Type': 'Horse Camping (see also Horse/Stock Use)',
  'Value': 29},
 {'_id': {'$oid': '6149384ad7bd5749f1572dbd'},
  'Type': 'Off-Trail Permitted Hiking',
  'Value': 23},
 {'_id': {'$oid': '6149384ad7bd5749f1572dbe'},
  'Type': 'Horse Camping (see also camping)',
  'Value': 18},
 {'_id': {'$oid': '6149384ad7bd5749f1572dbf'}, 'Type': 'Tubing', 'Value': 16},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc0'},
  'Type': 'Snow Tubing',
  'Value': 6},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc1'},
  'Type': 'Dog Sledding',
  'Value': 4},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc2'},
  'Type': 'Fixed Wing Flying',
  'Value': 8},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc3'},
  'Type': 'Gathering and Foraging',
  'Value': 11},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc4'},
  'Type': 'ATV Off-Roading',
  'Value': 5},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc5'},
  'Type': 'Pool Swimming',
  'Value': 3},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc6'}, 'Type': 'Dining', 'Value': 43},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc7'}, 'Type': 'Caving', 'Value': 16},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc8'}, 'Type': 'Golfing', 'Value': 5},
 {'_id': {'$oid': '6149384ad7bd5749f1572dc9'},
  'Type': 'River Tubing',
  'Value': 8},
 {'_id': {'$oid': '6149384ad7bd5749f1572dca'},
  'Type': 'Ice Climbing',
  'Value': 4},
 {'_id': {'$oid': '6149384ad7bd5749f1572dcb'},
  'Type': 'Downhill Skiing',
  'Value': 6},
 {'_id': {'$oid': '6149384ad7bd5749f1572dcc'},
  'Type': 'Helicopter Flying',
  'Value': 2},
 {'_id': {'$oid': '6149384ad7bd5749f1572dcd'},
  'Type': 'Mini-Golfing',
  'Value': 1},
 {'_id': {'$oid': '6149384ad7bd5749f1572dce'},
  'Type': 'Planetarium',
  'Value': 1}]

In [11]:
df = pd.DataFrame(columns=["id", "Type","Value" ])
df

Empty DataFrame
Columns: [id, Type, Value]
Index: []

In [13]:
for i in range(0, len(data)):
    currentItem = data[i]
    df.loc[i] = [data[i]["_id"], data[i]["Type"], data[i]["Value"]]
df

                                       id                     Type Value
0    {'$oid': '6149384ad7bd5749f1572d67'}         Arts and Culture   153
1    {'$oid': '6149384ad7bd5749f1572d68'}  Cultural Demonstrations    66
2    {'$oid': '6149384ad7bd5749f1572d69'}                Astronomy   103
3    {'$oid': '6149384ad7bd5749f1572d6a'}               Stargazing    88
4    {'$oid': '6149384ad7bd5749f1572d6b'}                   Biking   166
..                                    ...                      ...   ...
99   {'$oid': '6149384ad7bd5749f1572dca'}             Ice Climbing     4
100  {'$oid': '6149384ad7bd5749f1572dcb'}          Downhill Skiing     6
101  {'$oid': '6149384ad7bd5749f1572dcc'}        Helicopter Flying     2
102  {'$oid': '6149384ad7bd5749f1572dcd'}             Mini-Golfing     1
103  {'$oid': '6149384ad7bd5749f1572dce'}              Planetarium     1

[104 rows x 3 columns]

In [16]:
df

                                       id                     Type Value
0    {'$oid': '6149384ad7bd5749f1572d67'}         Arts and Culture   153
1    {'$oid': '6149384ad7bd5749f1572d68'}  Cultural Demonstrations    66
2    {'$oid': '6149384ad7bd5749f1572d69'}                Astronomy   103
3    {'$oid': '6149384ad7bd5749f1572d6a'}               Stargazing    88
4    {'$oid': '6149384ad7bd5749f1572d6b'}                   Biking   166
..                                    ...                      ...   ...
99   {'$oid': '6149384ad7bd5749f1572dca'}             Ice Climbing     4
100  {'$oid': '6149384ad7bd5749f1572dcb'}          Downhill Skiing     6
101  {'$oid': '6149384ad7bd5749f1572dcc'}        Helicopter Flying     2
102  {'$oid': '6149384ad7bd5749f1572dcd'}             Mini-Golfing     1
103  {'$oid': '6149384ad7bd5749f1572dce'}              Planetarium     1

[104 rows x 3 columns]